lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
coverage.html

# Created by http://gitignore.io

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

logs/*
!.gitkeep
node_modules/
.DS_Store
coverage/
lcov/
log-ex